[submodule "sipvicious"]
	path = sipvicious
	url = https://github.com/sandrogauci/sipvicious
[submodule "sippts"]
	path = sippts
	url = https://github.com/Pepelux/sippts
[submodule "vsaudit"]
	path = vsaudit
	url = https://github.com/eurialo/vsaudit
